body
{
	background-color: #505562
}
.main
{
	width: 60%;
	margin:100px auto;
	max-width: 500px;
	text-align: center;
	font-family: 'segoe ui light'
}
h1
{
	background-color: #2d2d37;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding:10px 1px
	
}
input,select
{
	width: 250px;
	height: 35px;
	border:1px solid lightblue;
	outline: none;
}
select
{
	width: 100px;
	margin-left: 10px;
	letter-spacing: 2px;
	margin-bottom: 25px
	
	 
}